{# This is needed to not show Apple Pay in other browser than Safari #}
<div id="msp-applepay">
    <script>
        const applePayPaymentMethod = document.getElementById('msp-applepay').parentElement;
        applePayPaymentMethod.style.display = 'none';

        try {
            if (window.ApplePaySession && window.ApplePaySession.canMakePayments()) {
                applePayPaymentMethod.style.display = 'block';
            }
        } catch (error) {
            console.warn('MultiSafepay error when trying to initialize Apple Pay:', error);
        }
    </script>
</div>
