<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <services>
        <service id="MultiSafepay\Shopware6\Events\OrderDeliveryStateChangeEvent">
            <argument type="service" id="order.repository"/>
            <argument type="service" id="order_delivery.repository"/>
            <argument type="service" id="MultiSafepay\Shopware6\Helper\ApiHelper"/>
            <tag name="kernel.event_subscriber"/>
        </service>
        <service id="MultiSafepay\Shopware6\Events\DocumentCreatedEvent">
            <argument type="service" id="order.repository"/>
            <argument type="service" id="MultiSafepay\Shopware6\Helper\ApiHelper"/>
            <tag name="kernel.event_subscriber"/>
        </service>
        <service id="MultiSafepay\Shopware6\Events\SalesChannelContextSwitchEvent">
            <argument type="service" id="customer.repository"/>
            <argument type="service" id="payment_method.repository"/>
            <tag name="kernel.event_subscriber"/>
        </service>
    </services>
</container>
