# Shopware
SHOPWARE_VERSION=6.7.10.1

# Expose
EXPOSE_TOKEN=
APP_SUBDOMAIN=shopware6-dev-xx
EXPOSE_HOST=sharedwithexpose.com

# MultiSafepay API Key
MULTISAFEPAY_API_KEY=your_api_key_here

## SHOP DOMAIN
SHOP_DOMAIN="$APP_SUBDOMAIN.$EXPOSE_HOST"
