# Shopware
SHOPWARE_VERSION=6.6.10.18

## APP
XDEBUG_ENABLED=1
APP_ENV=dev
APP_DEBUG=1

## EXPOSE
EXPOSE_TOKEN=
APP_SUBDOMAIN=shopware6-dev-xx
EXPOSE_HOST=sharedwithexpose.com

## SHOP DOMAIN
SHOP_DOMAIN="$APP_SUBDOMAIN.$EXPOSE_HOST"

## MULTISAFEPAY
MULTISAFEPAY_API_KEY=bfb5d1d186caaab2d28d9f4440d5e6792b5a8653
