# IDE/Editor files
.DS_Store
.idea

# Build/Distribution files
.dist/

# Dependency directories
/src/Resources/app/storefront/node_modules
/vendor/

# Environment/Config files
.env
/composer.lock
/src/Resources/app/storefront/package-lock.json
