/.gitattributes export-ignore
/.gitignore export-ignore
/.github export-ignore
/tests export-ignore
/grumphp.yml export-ignore
/phpcs.ruleset.xml export-ignore
/phpunit.xml.dist export-ignore
/unittest.phpunit.xml export-ignore
/bin export-ignore
