services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "22:22"
      - "3306:3306"
      - "80:80"
      - "8888:8888"
      - "9999:9999"
    volumes:
      - "./:/var/www/package-source/multisafepay/MltisafeMultiSafepay/"
    environment:
      # default = latest PHP, optional = specific version
      # default = 0, recommended to be OFF for frontend devs
      - APP_ENV=${APP_ENV}
      - XDEBUG_ENABLED=${XDEBUG_ENABLED}
      - SHOP_DOMAIN=${SHOP_DOMAIN}
    entrypoint: "sh /entrypoint-multisafepay.sh"
  expose:
    depends_on:
      - app
    build: https://github.com/multisafepay/expose.git#multisafepay
    entrypoint: [ "/bin/sh", "-c" , "/src/expose token ${EXPOSE_TOKEN} && sed -i -E \"s/'dns'\\s?=>\\s?'.*'/'dns' => true/g\" /root/.expose/config.php  && /src/expose share app --server-host=${EXPOSE_HOST} --subdomain=${APP_SUBDOMAIN}" ]
    ports:
      - "4040:4040"
