{% sw_extends '@Storefront/storefront/page/checkout/confirm/index.html.twig' %}

{% block page_checkout_confirm_payment %}
    {{ parent() }}
    <template
        data-multisafepay-apple-pay
        data-multisafepay-apple-pay-options='{{ page.paymentMethods.elements|json_encode }}'>
    </template>
{% endblock %}

{% block page_checkout_finish_customer_comment %}
    {{ parent() }}
    {% if config('core.cart.showCustomerComment') %}
        <div class="card checkout-card">
            {% include '@MltisafeMultiSafepay/storefront/multisafepay/payment-additional/additional.html.twig' %}
        </div>
    {% endif %}
{% endblock %}

{% block page_checkout_additional %}
    {{ parent() }}
    {% if config('core.cart.showCustomerComment') == false %}
        <div class="checkout-additional">
            {% include '@MltisafeMultiSafepay/storefront/multisafepay/payment-additional/additional.html.twig' %}
        </div>
    {% endif %}
{% endblock %}
