<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>API credentials</title>
        <title lang="de-DE">API credentials</title>

        <input-field type="single-select">
            <name>environment</name>
            <label>Test or Live:</label>
            <label lang="de-DE">Test oder Live</label>
            <options>
                <option>
                    <id>test</id>
                    <name>Test</name>
                </option>
                <option>
                    <id>live</id>
                    <name>Live</name>
                </option>
            </options>
        </input-field>

        <input-field>
            <name>apiKey</name>
            <label>API Key:</label>
            <label lang="de-DE">API Schlüssel</label>
        </input-field>

        <component name="multisafepay-verify-api-key">
            <name>apiTest</name>
        </component>
    </card>
    <card>
        <title>Configuration</title>
        <title lang="de-DE">Konfiguration</title>

        <input-field type="bool">
            <name>tokenization</name>
            <label>Enable tokenization</label>
            <label lang="de-DE">Tokenisierung aktivieren</label>
            <helpText>
                <![CDATA[Check out our <a href="https://docs.multisafepay.com/tools/tokenization/tokenization-api-level/" target="_blank" style="color:#fff">documentation center</a> to found more about tokenization.]]>
            </helpText>
            <helpText lang="de-DE">
                <![CDATA[Weitere Informationen zur Tokenisierung finden Sie in unserem <a href="https://docs.multisafepay.com/tools/tokenization/tokenization-api-level/" target="_blank" style="color:#fff">Dokumentationscenter.</a>]]>
            </helpText>
        </input-field>

        <input-field type="int">
            <name>timeActive</name>
            <label>Time an order stays active</label>
            <label lang="de-DE">Zeit, in der eine Bestellung aktiv bleibt</label>
            <placeholder>Default: 30</placeholder>
            <placeholder lang="de-DE">Standard: 30</placeholder>
            <defaultValue>30</defaultValue>
        </input-field>

        <input-field type="single-select">
            <name>timeActiveLabel</name>
            <placeholder>Default: Days</placeholder>
            <options>
                <option>
                    <id>1</id>
                    <name>Minutes</name>
                </option>
                <option>
                    <id>2</id>
                    <name>Hours</name>
                </option>
                <option>
                    <id>3</id>
                    <name>Days</name>
                </option>
            </options>
            <defaultValue>3</defaultValue>
        </input-field>
    </card>

    <card>
        <title>Generic Gateway</title>
        <title lang="de-DE">Generic Gateway</title>
        <input-field>
            <name>genericGatewayCode</name>
            <label>Generic gateway code</label>
            <label lang="de-DE">Generic gateway code</label>
            <helpText>
                <![CDATA[Fill in the gateway code provided by MultiSafepay to use the "generic gateway"]]>
            </helpText>
        </input-field>
        <input-field>
            <name>genericGatewayCode2</name>
            <label>Generic gateway code 2</label>
            <label lang="de-DE">Generic gateway code 2</label>
            <helpText>
                <![CDATA[Fill in the gateway code provided by MultiSafepay to use the "generic gateway"]]>
            </helpText>
        </input-field>
        <input-field>
            <name>genericGatewayCode3</name>
            <label>Generic gateway code 3</label>
            <label lang="de-DE">Generic gateway code 3</label>
            <helpText>
                <![CDATA[Fill in the gateway code provided by MultiSafepay to use the "generic gateway"]]>
            </helpText>
        </input-field>
    </card>

    <card>
        <title>Support</title>
        <component name="multisafepay-support">
            <name>support</name>
        </component>
    </card>
</config>
