<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>API credentials</title>
        <title lang="de-DE">API credentials</title>

        <input-field type="single-select">
            <name>environment</name>
            <label>Test or Live:</label>
            <label lang="de-DE">Test oder Live</label>
            <options>
                <option>
                    <id>test</id>
                    <name>Test</name>
                </option>
                <option>
                    <id>live</id>
                    <name>Live</name>
                </option>
            </options>
        </input-field>

        <input-field>
            <name>apiKey</name>
            <label>API Key:</label>
            <label lang="de-DE">API Schlüssel</label>
        </input-field>

        <component name="multisafepay-verify-api-key">
            <name>apiTest</name>
            <label>Validate API credentials</label>
            <label lang="de-DE">API Verbindung testen</label>
        </component>
    </card>
    <card>
        <title>Configuration</title>
        <title lang="de-DE">Konfiguration</title>

        <input-field type="bool">
            <name>tokenization</name>
            <label>Enable tokenization</label>
            <label lang="de-DE">Tokenisierung aktivieren</label>
            <helpText>
                <![CDATA[Check out our <a href="https://docs.multisafepay.com/tools/tokenization/tokenization-api-level/" target="_blank" style="color:#fff">documentation center</a> to found more about tokenization.]]>
            </helpText>
            <helpText lang="de-DE">
                <![CDATA[Weitere Informationen zur Tokenisierung finden Sie in unserem <a href="https://docs.multisafepay.com/tools/tokenization/tokenization-api-level/" target="_blank" style="color:#fff">Dokumentationscenter.</a>]]>
            </helpText>
        </input-field>

    </card>
</config>
