<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Configuration</title>

        <input-field type="single-select">
            <name>environment</name>
            <label>Test or Live:</label>
            <options>
                <option>
                    <id>test</id>
                    <name>Test</name>
                </option>
                <option>
                    <id>live</id>
                    <name>Live</name>
                </option>
            </options>
        </input-field>

        <input-field>
            <name>apiKey</name>
            <label>Api Key:</label>
        </input-field>

    </card>
</config>
