{% if context.paymentMethod.customFields.component == true and page.extensions.multisafepay.api_token %}
    {% if page.cart %}
        {% set amount = page.cart.price.totalPrice %}
    {% else %}
        {% set amount = page.order.amountTotal %}
    {% endif %}

    {% set multiSafepayComponentOptions = {
        env: page.extensions.multisafepay.env,
        tokens: page.extensions.multisafepay.tokens,
        gateway: page.extensions.multisafepay.gateway_code,
        showTokenization: page.extensions.multisafepay.show_tokenization,
        apiToken: page.extensions.multisafepay.api_token,
        template_id: page.extensions.multisafepay.template_id,
        currency: context.currency.isoCode,
        amount: amount * 100,
        country: context.shippingLocation.country.iso,
        locale: page.extensions.multisafepay.locale,
        customerId: context.customer.id
    } %}

    <template
        data-multisafepay-component
        data-multisafepay-component-options='{{ multiSafepayComponentOptions|json_encode }}'>
    </template>
    <div id="multisafepay-checkout"
        style="margin-bottom: 2rem"
        aria-label="{{ 'multisafepay-aria.payment_form'|trans }} {{ context.paymentMethod.name }}">
    </div>
    <input type="hidden"
        id="multisafepay-payload"
        name="payload"
        value=""
        form="confirmOrderForm">
    <input type="hidden"
        id="multisafepay-tokenize"
        name="tokenize"
        value="false"
        form="confirmOrderForm">
{% endif %}
