{% if page.extensions.multisafepay.issuers|length > 0 %}

    <label for="issuers-mybank">
        <select id="issuers-mybank" form="confirmOrderForm" name="issuer" class="msp-ss-custom-select">
            <option value="">{{ "msp-mybank.selectBankIssuer"|trans }}</option>
            {% for issuer in page.extensions.multisafepay.issuers %}
                <option {% if page.extensions.multisafepay.last_used_issuer == issuer.code %} selected="selected" {% endif %} value="{{ issuer.code }}">{{ issuer.description }}</option>
            {% endfor %}
        </select>
    </label>
    <style>
        .msp-ss-custom-select {
            margin-top: -3rem;
            margin-bottom: 1rem;
            width: 300px;
            margin-left: 1.5rem;
            font-size: 0.75rem;
        }
        .ss-option, .ss-search {
            font-size: 0.75rem;
        }
        .ss-search input {
            color: #4D4D4D;
        }
    </style>
{% endif %}
