{% sw_extends '@Storefront/storefront/page/account/order-history/order-item.html.twig' %}

{% block page_account_order_item_order_table_body_cell_payment_method %}
    <div class="col-12 col-sm order-table-header-order-table-body-cell">
        <strong class="order-table-header-label">
            {{ 'account.orderPaymentMethod'|trans|sw_sanitize }}{{ 'account.colonCharacter'|trans|sw_sanitize }}
        </strong>
        {% if feature('v6.8.0.0') %}
            <span class="order-table-body-value">{{ order.primaryOrderTransaction.customFields.multisafepay_payment_method_display ?? order.primaryOrderTransaction.paymentMethod.translated.name }}</span>
        {% else %}
            <span class="order-table-body-value">{{ order.transactions|last.customFields.multisafepay_payment_method_display ?? order.transactions|last.paymentMethod.translated.name }}</span>
        {% endif %}
    </div>
{% endblock %}
